

#box {
    font-family: arial;
    background-color: rgb(187, 178, 235);
    text-align: center;
    text-decoration: double pink underline;
}

/* .heading {
    color: red;
} */

h1,h2,h3 {
    color: brown;
    text-align: center;
    text-decoration: line-through;
    font-weight: 900;
}

button {
    background-color: green; 
} 

a {
    text-decoration: none;
    color: rgb(29, 5, 52);
    font-weight: bolder;
}

#para{
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

#para3 {
    font-size: 30px;
    text-transform: capitalize;
}

#para2 {
    font-size: 40px;
    text-transform: capitalize;
}
/* * {
    background-color: antiquewhite;
} */
/* h1 {
    color: blueviolet;
}

button {
    color: blue;
    background-color: bisque;
}

#heading1 {
    color: black;
    background-color: azure;
}

p {
    color: rgb(161, 121, 61);
}

.myclass {
    background-color: darkgreen;
} */